<html>
<head>
<script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script>
<script src="https://use.fontawesome.com/ecc7738772.js"></script>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6-bmIO1HkFkHPEXhVYobcwpPjLa4M_ig">
    </script>
  <link rel="stylesheet" href="/css/readtdatepicker.css">
  <link rel="icon" href="/images/placeIcon.png">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="topdash">
		  	<div class="titleWrapper">
			  <img src="/images/placeIcon.png" height='60px' width='60px'></img>
		  <div><h1>FOoDy..!</h1></div>
			</div>
		</div>
        {{{body}}}
    </div>
  </div>	
</body>
</html>